@model IEnumerable<tester.Models.ChatUser>
@{
    ViewBag.Title = "Chatbox";
}

<h2>Chatbox</h2>



@using (@Html.BeginForm())
{
    <div class="chatpage">

        <div class="chatbox">
            <div class="chatlist">
                @if (Model != null)
                {
                    foreach (var chat in Model)
                    {
                        @Html.ActionLink(chat.naam, "Chatbox", "Chat", new { id = chat.userID }, null)<br>
                    }
                    
                }
            </div>
            <div class="chat">
                @if (tester.Models.Database.chathistory.Count() > 0)
                {

                    foreach (string chat in tester.Models.Database.chathistory)
                    {

                        @chat.ToString() 
                        <a href="@Url.Action("reportChat", "Chat", new { chat = @chat.ToString() })">Report</a><br />
                    }
                }
                @ViewBag.nochat


            </div>
            <div class="reply">
                <div class="r1"><input class="textbox" type="text" name="msg" placeholder="Write a reply"></div>
                <div class="r2"><input class="submitbtn" type="submit" name="send" value="Send"></div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        var $cont = $('.chat');
        $cont[0].scrollTop = $cont[0].scrollHeight;

        $('.inp').keyup(function (e) {
            if (e.keyCode == 13) {
                $cont.append('<p>' + $(this).val() + '</p>');
                $cont[0].scrollTop = $cont[0].scrollHeight;
                $(this).val('');
            }
        })
        .focus();
    </script>
    <br />
    <br />
}