@model IEnumerable<tester.Models.Review>
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

@using (@Html.BeginForm())
{
<div> 
    <div class="Profilediv1">
        Naam: @ViewBag.naam<br>
        Email: @ViewBag.email<br>
        Woonplaats: @ViewBag.woonplaats<br>
        Adres: @ViewBag.adres<br>
        Telefoonnummer: @ViewBag.telefoon<br>
    </div>
    <div class="Profilediv2">
        My reviews:
        <div class="myreviews">
            <ul>
                @if (ViewBag.naam != string.Empty && ViewBag.reviews != string.Empty)
                {
                    foreach (var item in Model)
                    {
                        <li>
                            @item.opmerkingen<br>
                            Door @Html.ActionLink(item.needyName, "Profileb", "Login", new { acID = item.needyID}, null) over @Html.ActionLink(item.volunteerName, "Profileb", "Login", new { acID = item.volunteerID}, null)<br>
                            Beoordeling: @item.beoordeling
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="Profilediv3">
        About me:
        <div class="Profilediv4">

        </div>
    </div>
</div>

}